*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap');

body{
    background: linear-gradient(to right, #005C53, #9FC131);
    font-family: 'Roboto', sans-serif;
}

.container{
    text-align: center;
    width: 300px;
    margin: 60px auto;
}

#perfil{
    width: 100%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 4px solid #042940;
    padding: 2.5px;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Roboto Mono', monospace;
    color: #00082f;
    opacity: .8;
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 48px;
}

h1{
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 32px;
    color: #00082f;
}

ul li a {
    display: flex;
    height: 53px;
    align-items: center;
    justify-content: center;
    background: #D6D58E;
    color: #00082f;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;
    transition: 400ms;
}

ul li a:hover{
    background: #9FC131;
}

footer{
    font-weight: 500;
    font-size: 12px;
    color: #00082f;
    opacity: 0.7;
}

footer a {
    color: #00082f;
}